<div class="filterBox displayclass">
    <ul>
        <li><input type="checkbox" value="draft" onclick="filtering('draft')" id="check1"><label>Draft</label></li>
        <li><input type="checkbox" value="pending" onclick="filtering('pending')" id="check2"><label>Pending</label></li>
        <li><input type="checkbox" value="paid" onclick="filtering('paid')" id="check3"><label>Paid</label></li>
    </ul>
</div>