<div id="side_div">
    <div id="icon_div">
        <div id="icon_div2">
            <img src="<%=variable2%>" id="logo_image">
        </div>
    </div>
    <div id="themeicon" onclick="sunchange()"><img src="<%=variable1%>" ></div>
    
    <img src="<%=variable3%>" id="avatar">
</div>